<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>Adminlar ro'yhati</h1>
<button><a href="/adminlar/create">Admin qoshish</a></button>
{% for admin in adminlar %}
<p>{{ forloop.counter }}. {{ admin.ism }} </p>
<button><a href="/adminlar/{{ admin.id }}">Malumotlarni korish</a></button>
<a href="/adminlar/{{ admin.id }}/confirm"><button>Ochirish</button></a>
<a href="/adminlar/{{ admin.id }}/edit"><button>Tahrirlash</button></a>

{% endfor %}
</body>
</html>