<h1>Mualliflar royhati</h1>
<hr>
<form>
    <input type="text" name="search" placeholder="Qiridirsh..." {% if search %} value="{{ search }}" {% endif %}>
    <button>Qidirish</button>
</form>
<button><a href="/mualliflar/create">Muallif qoshish</a></button>
{% for muallif in mualliflar %}
<p> {{ forloop.counter }}. {{ muallif.ism }}</p>
<button><a href="/mualliflar/{{ muallif.id }}/delete">Ochirish</a></button>
<button><a href="/mualliflar/{{ muallif.id }}/edit">Tahrirlash</a></button>
{% endfor %}